extends ../layout

block content
  h1.text-center.mb-4 Editar Médico

  form(action=`/medicos/update/${medico.id_medico}`, method="post")
    label Nombre:
    input(type="text", name="nombre", required, value=medico.nombre)

    label Apellido:
    input(type="text", name="apellido", required, value=medico.apellido)

    label DNI:
    input(type="text", name="dni", required, value=medico.dni)

    label Email:
    input(type="text", name="email", required, value=medico.email)

    label Teléfono:
    input(type="text", name="telefono", value=medico.telefono)

    label(for="estado") Estado:
      select(name="estado" id="estado" required)
        option(value="1", selected=medico.estado === true) Activo
        option(value="0", selected=medico.estado === false) Inactivo

    label Especialidad:
      select(name="id_especialidad", required)
        option(value='') -- Seleccionar Especialidad --
        each especialidad in especialidades
          option(value=especialidad.id_especialidad selected=(medico.Especialidad && especialidad.id_especialidad === medico.Especialidad.id_especialidad))= especialidad.nombre

    button(type="submit") Guardar Cambios
