//- views/medicos/list.pug
extends ../layout

block content
  .container-fluid.mt-5.px-5
    h2.text-center.mb-4 Lista de Médicos

    .d-flex.justify-content-between.mb-4
      a.btn.btn-success(href='/medicos/add') 
        i.fas.fa-user-plus.me-1
        | Agregar Médico
      a.btn.btn-secondary(href='/') 
        i.fas.fa-home.me-1
        | Volver al Inicio

    table.table.table-bordered.table-hover.align-middle.text-center
      thead.table-primary
        tr
          th Nombre
          th Apellido
          th DNI
          th Email
          th Especialidad y Matrícula
          th Estado
          th Acciones
      tbody
        each medico in medicos
          tr
            td= medico.nombre
            td= medico.apellido
            td= medico.dni
            td= medico.email
            td
              if medico.especialidades && medico.especialidades.length
                ul.mb-0.text-start
                  each esp in medico.especialidades
                    li
                      - const matricula = esp.MedicoEspecialidad ? esp.MedicoEspecialidad.matricula : 'N/A';
                      | #{esp.nombre} - Matrícula: #{matricula}
              else
                | Sin asignar
            td
              if medico.estado === true || medico.estado === 'Activo'
                span.badge.bg-success Activo
              else
                span.badge.bg-secondary Inactivo
            td.acciones
              a.btn.btn-sm.btn-warning(href=`/medicos/edit/${medico.id_medico}`) 
                i.fas.fa-edit.me-1
                | Editar
              form(action=`/medicos/delete/${medico.id_medico}`, method='POST', onsubmit="return confirm('¿Estás seguro de eliminar este médico?')", style="display:inline;")
                button.btn.btn-sm.btn-danger(type='submit')
                  i.fas.fa-trash.me-1
                  | Eliminar
