extends ../layout

block content
  .container
    h2 Generar Turnos Automáticos

    if mensaje
      .alert.alert-success= mensaje

    if error
      .alert.alert-danger= error

    form(method="POST", action="/turnos/generar-turnos")
      .form-group
        label(for="id_agenda") Seleccionar Agenda:
        select(name="id_agenda", required).form-control
          option(value="") -- Seleccione una agenda --
          each agenda in agendas
            option(value=agenda.id_agenda)= `${agenda.Medico.nombre} - ${agenda.dia_semana} (${agenda.hora_inicio} a ${agenda.hora_fin})`

      .form-group
        label(for="fecha_inicio") Fecha desde la cual generar:
        input(type="date", name="fecha_inicio", required).form-control

      button.btn.btn-primary(type="submit") Generar Turnos
